server:
  port: 8084

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/DocumentDB
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  kafka:
    bootstrap-servers: 172.17.71.44:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema.registry.url: http://localhost:8081

    topic:
      document-uploaded: documentUploadTopic

aws:
  region: ap-south-1
  s3:
    bucket: documentupload01
